@font-face {
font-family: 'A5_iOS7Icons';
src: url(A5_iOS7Icons.eot) format('embedded-opentype'), url(A5_iOS7Icons.woff) format('woff'), url(A5_iOS7Icons.ttf) format('truetype'), url(A5_iOS7Icons.svg) format('svg');
}
html {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-user-select: none;
}
button::-moz-focus-inner {
border-width: 0;
padding: 0;
}
.iOS7Page {
color: black;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
}
.iOS7Heading {
color: black;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
font-weight: bold;
}
.iOS7Text {
color: black;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
}
.iOS7TextHighlight {
color: #007aff;
}
.iOS7Link {
color: #333333;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
}
.iOS7Group {
border-style: solid;
border-width: 1px;
border-color: #cccccc;
padding: 8px;
margin-top: 2px;
margin-bottom: 2px;
border-radius: 0px;
}
.iOS7GroupLabel {
color: #333333;
background-color: #ededed;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 12px;
font-weight: bold;
border-style: solid;
border-width: 1px;
border-color: #cccccc;
padding: 8px;
margin-left: -9px;
margin-right: -9px;
width: 100%;
}
.iOS7UILock {
background-color: black;
background-image: none;
opacity: 0.5;
}
/* Grid */
.iOS7Grid {
border-style: solid;
border-width: 1px;
border-color: #cccccc;
border-radius: 3px;
}
.iOS7GridHeader {
text-align: left;
color: #333333;
background-color: #ededed;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 12px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 0px 14px;
}
.iOS7GridHeader .iOS7Link, .iOS7GridHeader span {
text-decoration: none;
color: #333333;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 12px;
font-weight: bold;
padding: 14px;
display: inline-block;
cursor: default;
}
.iOS7GridFooter {
text-align: left;
color: #333333;
background-color: #ededed;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
padding: 0px 14px;
}
.iOS7GridFooter .iOS7Link, .iOS7GridFooter span {
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
}
span.iOS7GridNav {
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
padding: 0px;
}
.iOS7GridSummaryLabel, .iOS7GridSummaryData {
background-color: #ededed;
background-image: none;
font-size: 16px;
padding: 14px;
cursor: default;
}
.iOS7GridSummaryLabel {
color: #333333;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 12px;
font-weight: bold;
}
.iOS7GridQBE {
background-color: #f7f7f7;
background-image: none;
font-size: 16px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 14px;
cursor: default;
}
.iOS7GridDataHeader {
color: #333333;
background-color: #ededed;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 12px;
font-weight: bold;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 8px 14px;
}
.iOS7GridData, .iOS7GridRowHeader {
background-color: white;
background-image: none;
font-size: 16px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 14px;
cursor: default;
}
.iOS7GridDataAlt {
background-color: #fcfcfc;
background-image: none;
font-size: 16px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 14px;
cursor: default;
}
.iOS7GridRowSelected .iOS7GridData, .iOS7GridRowSelected .iOS7GridDataAlt {
background-color: #e6e6e6;
background-image: none;
}
.iOS7GridDataError {
color: #fd472a;
background-color: #fff6f4;
background-image: none;
font-size: 16px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 14px;
cursor: default;
}
.iOS7Grid > tbody > tr:last-child > td {
border-style: none;
}
.iOS7GridFormLabel, .iOS7GridFormData {
border-top-style: solid;
border-top-width: 1px;
border-top-color: #cccccc;
padding: 6px;
}
.iOS7GridFormLabel {
font-size: 14px;
font-weight: bold;
}
.iOS7GridFormDataError {
color: #fd472a;
background-color: #fff6f4;
background-image: none;
font-size: 16px;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #cccccc;
padding: 6px;
cursor: default;
}
tr:nth-child(1) .iOS7GridFormLabel, tr:nth-child(1) .iOS7GridFormData, tr:nth-child(1) .iOS7GridFormDataError {
border-top-style: none;
}
.iOS7GridForm .iOS7Edit, .iOS7GridForm .iOS7EditBG {
background-color: transparent;
background-image: none;
border-style: none;
margin: 0px;
}
/* Dialog */
.iOS7DialogLabel {
color: #333333;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 14px;
font-weight: bold;
padding: 6px;
}
.iOS7DialogRSSeparator {
border-top-style: solid;
border-top-width: 1px;
border-top-color: #b3b3b3;
margin-top: 6px;
line-height: 6px;
}
/* Buttons */
.iOS7Button, .iOS7ButtonConfirm, .iOS7ButtonDeny, .iOS7ButtonDD {
color: #007aff;
background-color: transparent;
background-image: none;
font-size: 16px;
border-style: solid;
border-width: 1px;
border-color: #007aff;
padding: 5px 9px;
margin: 2px;
vertical-align: middle;
border-radius: 6px;
outline: none;
}
.iOS7ButtonPressed, .iOS7ButtonDDPressed {
color: rgba(0, 122, 255, 0.5);
border-style: solid;
border-width: 1px;
border-color: rgba(0, 122, 255, 0.5);
}
.iOS7ButtonConfirm {
color: #4cd662;
border-color: #4cd662;
}
.iOS7ButtonConfirmPressed {
color: rgba(76, 214, 98, 0.5);
border-style: solid;
border-width: 1px;
border-color: rgba(76, 214, 98, 0.5);
}
.iOS7ButtonDeny {
color: #fd472a;
border-color: #fd472a;
}
.iOS7ButtonDenyPressed {
color: rgba(253, 71, 42, 0.5);
border-style: solid;
border-width: 1px;
border-color: rgba(253, 71, 42, 0.5);
}
.iOS7ButtonDD {
padding: 0px;
vertical-align: middle;
position: relative;
}
.iOS7ButtonDDContent, .iOS7ButtonDDSplitContent {
padding: 5px 9px;
}
.iOS7ButtonDDDropdown {
width: 32px;
}
.iOS7ButtonDDSplitDropdown {
border-left-style: solid;
border-left-width: 1px;
border-left-color: #007aff;
width: 32px;
}
.iOS7ButtonDDPressed .iOS7ButtonDDSplitDropdown {
border-left-style: solid;
border-left-width: 1px;
border-left-color: rgba(0, 0, 0, 0.25);
}
.iOS7ButtonDD:after {
font-family: A5_iOS7Icons;
font-size: 24px;
margin-top: -13px;
display: block;
position: absolute;
top: 50%;
right: 4px;
content: "c";
}
.iOS7ButtonLeft, .iOS7ButtonRight {
color: #007aff;
background-color: transparent;
background-image: none;
font-size: 16px;
border-style: none;
padding: 6px 10px;
margin: 2px;
vertical-align: middle;
position: relative;
outline: none;
}
.iOS7ButtonLeft {
padding-left: 32px;
}
.iOS7ButtonRight {
padding-right: 32px;
}
.iOS7ButtonLeftPressed, .iOS7ButtonRightPressed {
color: rgba(0, 122, 255, 0.5);
}
.iOS7ButtonLeft:after {
font-family: A5_iOS7Icons;
font-size: 24px;
margin-top: -14px;
display: block;
position: absolute;
top: 50%;
left: 4px;
content: "a";
}
.iOS7ButtonRight:after {
font-family: A5_iOS7Icons;
font-size: 24px;
margin-top: -14px;
display: block;
position: absolute;
top: 50%;
right: 4px;
content: "b";
}
.iOS7ButtonDisabled, .iOS7ButtonConfirmDisabled, .iOS7ButtonDenyDisabled, .iOS7ButtonDDDisabled, .iOS7ButtonDDDisabled .iOS7ButtonDDSplitDropdown {
color: rgba(0, 0, 0, 0.25);
border-color: rgba(0, 0, 0, 0.25);
}
.iOS7ButtonGroupHF {
border-right-style: none;
margin-right: 0px;
border-radius: 6px 0px 0px 6px;
}
.iOS7ButtonGroupHM {
border-right-style: none;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px;
}
.iOS7ButtonGroupHL {
margin-left: 0px;
border-radius: 0px 6px 6px 0px;
}
.iOS7ButtonGroupVF {
border-bottom-style: none;
margin-bottom: 0px;
display: block;
width: 100%;
border-radius: 6px 6px 0px 0px;
}
.iOS7ButtonGroupVM {
border-bottom-style: none;
margin-top: 0px;
margin-bottom: 0px;
display: block;
width: 100%;
border-radius: 0px;
}
.iOS7ButtonGroupVL {
margin-top: 0px;
display: block;
width: 100%;
border-radius: 0px 0px 6px 6px;
}
/* Edits */
.iOS7Edit {
color: #333333;
background-color: white;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
border-style: solid;
border-width: 1px;
border-color: #cccccc;
padding: 14px;
border-radius: 3px;
outline: none;
}
select.iOS7Edit {
padding: 13px;
}
input.iOS7EditError, textarea.iOS7EditError, select.iOS7EditError {
color: #fd472a;
background-color: #fff6f4;
background-image: none;
border-color: #fd472a;
}
input.iOS7EditWatermark, textarea.iOS7EditWatermark, select.iOS7EditWatermark {
color: grey;
}
input.iOS7EditWatermark.iOS7EditError, textarea.iOS7EditWatermark.iOS7EditError, select.iOS7EditWatermark.iOS7EditError {
color: #fd725d;
font-style: italic;
}
.iOS7EditRound {
padding: 6px 13px;
border-radius: 24px;
}
/* Edit Button Group */
.iOS7EditBG {
color: #333333;
background-color: white;
background-image: none;
font-size: 16px;
border-style: solid;
border-width: 1px;
border-color: #cccccc;
border-radius: 3px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.iOS7EditBGEdit {
color: #333333;
background-color: transparent;
background-image: none;
font-size: 16px;
border-style: none;
padding: 14px;
outline: none;
}
.iOS7EditBGWatermark {
color: grey;
}
.iOS7EditBGError {
color: #fd472a;
background-color: #fff6f4;
background-image: none;
border-color: #fd472a;
}
.iOS7EditBGError .iOS7EditBGEdit {
color: #fd472a;
}
.iOS7EditBGError .iOS7EditBGWatermark.iOS7EditBGEdit {
color: #fd725d;
font-style: italic;
}
/* List */
.iOS7List {
border-style: solid;
border-width: 1px;
border-color: #cccccc;
border-radius: 3px;
}
.iOS7ListItem {
background-color: white;
background-image: none;
font-size: 16px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 14px;
cursor: default;
outline: none;
}
.iOS7ListItemSelected {
background-color: #e6e6e6;
background-image: none;
}
.iOS7ListTitle {
color: #333333;
background-color: #ededed;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 12px;
font-weight: bold;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 8px 14px;
}
.iOS7ListSeparator {
background-color: #ededed;
background-image: none;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
height: 8px;
}
.iOS7ListHeader {
color: #333333;
background-color: #ededed;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 12px;
font-weight: bold;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 0px 14px;
position: relative;
}
.iOS7ListHeader:not([style*="display: none"]) ~ div:after {
background-color: rgba(0, 0, 0, 0.05);
background-image: none;
display: block;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 1px;
z-index: 4;
content: "";
}
.iOS7ListHeader:not([style*="display: none"]) ~ div:before {
background-color: rgba(0, 0, 0, 0.025);
background-image: none;
display: block;
position: absolute;
top: 1px;
left: 0px;
width: 100%;
height: 2px;
z-index: 4;
content: "";
}
.iOS7ListHeaderItem {
padding: 17px 0px;
padding-top: 16px;
padding-right: 40px;
cursor: default;
}
.iOS7ListHeaderItemResizeOverlay {
background-color: rgba(0, 0, 0, 0.25);
background-image: none;
}
.iOS7ListGroupNav {
color: black;
background-color: rgba(0, 0, 0, 0.25);
background-image: none;
padding: 4px;
cursor: default;
border-radius: 4px;
opacity: 0.5;
}
.iOS7ListGroupNavFocus {
opacity: 1;
}
.iOS7ListItemLabelMain {
font-weight: bold;
}
.iOS7ListItemLabelSub {
font-size: 14px;
}
.iOS7ListItemLabelContext {
color: #007aff;
font-size: 14px;
}
.iOS7ListItemLabelDetail {
color: white;
background-color: grey;
background-image: none;
font-size: 14px;
padding: 2px 10px;
border-radius: 4px;
}
.iOS7ListItemContent {
color: #4d4d4d;
font-size: 14px;
}
.iOS7ListNavPrev {
text-align: center;
background-color: rgba(255, 255, 255, 0.9);
background-image: none;
font-weight: bold;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 14px;
cursor: default;
position: absolute;
top: 0px;
width: 100%;
z-index: 4;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.iOS7ListNavPrev:after {
background-color: rgba(0, 0, 0, 0.05);
background-image: none;
display: block;
position: absolute;
left: 0px;
bottom: -3px;
width: 100%;
height: 3px;
z-index: 4;
content: "";
}
.iOS7ListNavNext {
text-align: center;
background-color: rgba(255, 255, 255, 0.9);
background-image: none;
font-weight: bold;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #cccccc;
padding: 14px;
cursor: default;
position: absolute;
bottom: 0px;
width: 100%;
z-index: 4;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.iOS7ListNavNext:after {
background-color: rgba(0, 0, 0, 0.05);
background-image: none;
display: block;
position: absolute;
top: -3px;
left: 0px;
width: 100%;
height: 3px;
z-index: 4;
content: "";
}
.iOS7ListNavPressed {
color: #007aff;
}
/* Scroller */
.iOS7Scroller {
color: white;
background-color: rgba(0, 0, 0, 0.05);
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
cursor: default;
}
.iOS7ScrollerDial {
background-color: rgba(0, 0, 0, 0.35);
background-image: none;
padding: 6px;
}
.iOS7ScrollerSlider {
width: 14px;
}
.iOS7ScrollerSliderHandle {
background-color: rgba(0, 0, 0, 0.35);
background-image: none;
width: 14px;
height: 40px;
}
.iOS7ScrollerSliderShadow {
background-color: rgba(0, 0, 0, 0.2);
background-image: none;
border-color: rgba(0, 0, 0, 0.2);
width: 14px;
height: 40px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.iOS7ScrollerSliderMsg {
white-space: nowrap;
color: white;
background-color: rgba(0, 0, 0, 0.35);
background-image: none;
padding: 6px;
position: absolute;
right: 20px;
border-radius: 3px;
}
.iOS7ScrollerSliderMsgT {
top: 0px;
}
.iOS7ScrollerSliderMsgL {
left: 0px;
}
.iOS7ScrollerSliderMsgR {
right: 0px;
}
.iOS7ScrollerSliderMsgB {
bottom: 0px;
}
.iOS7ScrollerSliderMsgT:after {
border-style: solid;
border-width: 5px;
border-color: transparent;
border-left-color: rgba(0, 0, 0, 0.35);
display: block;
position: absolute;
top: 7px;
right: -10px;
content: '';
}
.iOS7ScrollerSliderMsgL:after {
border-style: solid;
border-width: 5px;
border-color: transparent;
border-top-color: rgba(0, 0, 0, 0.35);
display: block;
position: absolute;
left: 7px;
bottom: -10px;
content: '';
}
.iOS7ScrollerSliderMsgR:after {
border-style: solid;
border-width: 5px;
border-color: transparent;
border-top-color: rgba(0, 0, 0, 0.35);
display: block;
position: absolute;
right: 7px;
bottom: -10px;
content: '';
}
.iOS7ScrollerSliderMsgB:after {
border-style: solid;
border-width: 5px;
border-color: transparent;
border-left-color: rgba(0, 0, 0, 0.35);
display: block;
position: absolute;
right: -10px;
bottom: 7px;
content: '';
}
/* Spin List */
.iOS7SpinList {
color: black;
background-color: white;
background-image: none;
border-style: solid;
border-width: 1px;
border-color: #cccccc;
padding: 12px;
vertical-align: top;
cursor: default;
border-radius: 3px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.iOS7SpinList:before {
border-top-style: solid;
border-top-width: 1px;
border-top-color: #e6e6e6;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #e6e6e6;
margin-top: -18px;
display: block;
position: absolute;
top: 50%;
left: 0px;
width: 100%;
height: 32px;
content: "";
}
.iOS7SpinList:after {
background-image: url('spinlistOver.png');
background-size: 100% 100%;
display: block;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border-radius: 3px;
content: "";
}
.iOS7SpinListItem {
font-size: 16px;
padding: 6px;
}
.iOS7SpinListGroup {
white-space: nowrap;
border-style: solid;
border-width: 1px;
border-color: #cccccc;
padding: 0px;
overflow: hidden;
border-radius: 3px;
}
.iOS7SpinListGroup .iOS7SpinList {
border-style: none;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #cccccc;
display: inline-block;
border-radius: 0px;
}
.iOS7SpinListGroup .iOS7SpinList:last-child {
border-style: none;
}
.iOS7SpinListGroup .iOS7SpinList:after {
border-radius: 0px;
}
/* Tree */
.iOS7Tree {
border-style: solid;
border-width: 1px;
border-color: #cccccc;
border-radius: 3px;
}
.iOS7TreeNode {
font-size: 16px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
overflow: hidden;
cursor: default;
outline: none;
}
.iOS7TreeNodeSelected {
background-color: #e6e6e6;
background-image: none;
}
.iOS7TreeNodeLabel {
text-decoration: none;
color: inherit;
padding: 14px;
padding-bottom: 15px;
display: inline-block;
cursor: default;
width: 100%;
outline: none;
}
.iOS7TreeNode .iOS7IconBtn {
margin-top: -4px;
}
/* Slider */
.iOS7Slider {
padding: 18px 20px;
padding-right: 22px;
margin: 8px 2px;
}
.iOS7SliderInner {
background-color: #b3b3b3;
background-image: none;
height: 3px;
border-radius: 3px;
}
.iOS7SliderHandle {
background-color: white;
background-image: none;
border-style: solid;
border-width: 1px;
border-color: #e6e6e6;
margin-top: -17px;
margin-left: -17px;
width: 35px;
height: 34px;
border-radius: 17px;
box-shadow: 0px 3px 3px #b3b3b3;
-moz-box-shadow: 0px 3px 3px #b3b3b3;
-webkit-box-shadow: 0px 3px 3px #b3b3b3;
}
.iOS7SliderRange {
background-color: #0b8adc;
background-image: none;
margin: -1px;
height: 3px;
border-radius: 3px;
}
/* Switch */
.iOS7Switch {
border-style: solid;
border-width: 1px;
border-color: #b3b3b3;
padding: 0px;
margin: 8px 2px;
cursor: default;
height: 36px;
border-radius: 19px;
}
.iOS7SwitchOn {
color: white;
background-color: #4bd762;
background-image: none;
border-color: #4bd762;
}
.iOS7SwitchLeft {
text-align: center;
padding: 8px;
padding-right: 29px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.iOS7SwitchRight {
text-align: center;
padding: 8px;
padding-left: 29px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.iOS7SwitchInner {
margin: 0px 18px;
margin-right: 20px;
}
.iOS7SwitchButton {
background-color: white;
background-image: none;
border-style: solid;
border-width: 1px;
border-color: #d9d9d9;
margin-left: -17px;
width: 35px;
height: 34px;
border-radius: 17px;
box-shadow: 0px 3px 3px #b3b3b3;
-moz-box-shadow: 0px 3px 3px #b3b3b3;
-webkit-box-shadow: 0px 3px 3px #b3b3b3;
}
.iOS7SwitchOn .iOS7SwitchButton {
box-shadow: 0px 3px 3px #197026;
-moz-box-shadow: 0px 3px 3px #197026;
-webkit-box-shadow: 0px 3px 3px #197026;
}
/* Date Picker */
.iOS7DP {
background-color: white;
background-image: none;
}
.iOS7DPHeaderButton {
text-decoration: none;
color: #ff3b30;
font-size: 16px;
font-weight: bold;
padding: 14px;
display: inline-block;
cursor: default;
outline: none;
}
.iOS7DPDaysOfWeek {
font-size: 14px;
font-weight: normal;
padding: 6px;
}
.iOS7DPWeeksOfYear {
color: rgba(0, 0, 0, 0.25);
font-size: 14px;
font-weight: normal;
padding: 6px;
}
.iOS7DPDate {
padding: 0px;
}
.iOS7DPItem {
text-align: center;
text-decoration: none;
color: black;
background-color: white;
background-image: none;
font-size: 16px;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #cccccc;
padding: 14px;
display: block;
cursor: default;
outline: none;
}
.iOS7DPDateToday .iOS7DPItem {
color: #ff3b30;
}
.iOS7DPItemSelected {
color: white;
background-color: #ff3b30;
background-image: none;
}
.iOS7DPDateToday .iOS7DPItemSelected {
color: white;
}
.iOS7DPItemDisabled {
color: rgba(0, 0, 0, 0.25);
}
.iOS7DPItemOutOfRange {
color: rgba(0, 0, 0, 0.5);
border-top-style: none;
}
.iOS7DPPanelItem {
text-align: center;
text-decoration: none;
color: black;
background-color: white;
background-image: none;
font-size: 16px;
padding: 14px;
display: block;
cursor: default;
outline: none;
}
.iOS7DPPanelItemSelected {
color: white;
background-color: #ff3b30;
background-image: none;
}
.iOS7DPPanelItemDisabled {
color: rgba(0, 0, 0, 0.25);
}
/* TimePicker */
.iOS7TP .iOS7Edit {
text-align: center;
}
.iOS7TPEditButton {
text-align: center;
cursor: default;
}
.iOS7TPMeridianButton {
color: #ff3b30;
font-size: 16px;
padding: 14px;
cursor: default;
}
/* ControlGroups */

.iOS7ControlGroupRow {
border-top-style: solid;
border-top-width: 1px;
border-top-color: #cccccc;
padding: 6px;
}
.iOS7ControlGroupRowFirst {
border-top-style: none;
}
.iOS7ControlGroup .iOS7DialogLabel {
padding: 16px;
}
.iOS7ControlGroup .iOS7Edit, .iOS7ControlGroup .iOS7EditBG {
background-color: transparent;
background-image: none;
border-style: none;
margin: 0px;
}
/* Windows */
.iOS7Win {
background-color: rgba(255, 255, 255, 0.85);
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
border-style: solid;
border-width: 1px;
border-color: #bfbfbf;
border-radius: 6px;
}
.iOS7WinInner {
overflow: hidden;
border-radius: 6px;
}
.iOS7WinTitle, .iOS7WinHeader, .iOS7WinTBar, .iOS7WinBody, .iOS7WinBBar, .iOS7WinFooter {
padding: 6px;
}
.iOS7WinButtons {
text-align: center;
font-size: 0px;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #bfbfbf;
}
.iOS7WinResizer {
color: #a6a6a6;
}
.iOS7WinButtons .iOS7Button {
border-style: none;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #bfbfbf;
margin: 0px;
border-radius: 0px;
padding: 10px;
}
.iOS7WinButtons .iOS7Button:first-child {
border-left-style: solid;
border-left-width: 1px;
border-left-color: #bfbfbf;
}
.iOS7WinButtons .iOS7ButtonPressed {
color: #007aff;
background-color: white;
background-image: none;
}
.iOS7DDWinPointerDown {
border-top-style: solid;
border-top-width: 10px;
border-top-color: rgba(255, 255, 255, 0.85);
border-left-style: solid;
border-left-width: 10px;
border-left-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: transparent;
margin-left: -10px;
left: 50%;
bottom: -10px;
width: 0;
height: 0;
}
.iOS7WinPointerUp {
border-left-style: solid;
border-left-width: 10px;
border-left-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: transparent;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: rgba(255, 255, 255, 0.85);
margin-left: -10px;
top: -10px;
left: 50%;
width: 0;
height: 0;
}
.iOS7DDWinPointerLeft {
border-top-style: solid;
border-top-width: 10px;
border-top-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: rgba(255, 255, 255, 0.85);
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: transparent;
margin-top: -10px;
top: 50%;
left: -10px;
width: 0;
height: 0;
}
.iOS7DDWinPointerRight {
border-top-style: solid;
border-top-width: 10px;
border-top-color: transparent;
border-left-style: solid;
border-left-width: 10px;
border-left-color: rgba(255, 255, 255, 0.85);
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: transparent;
margin-top: -10px;
top: 50%;
right: -10px;
width: 0;
height: 0;
}
.iOS7DDWin {
background-color: white;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
border-style: solid;
border-width: 1px;
border-color: #d9d9d9;
border-radius: 6px;
}
.iOS7DDWinInner {
overflow: hidden;
border-radius: 6px;
}
.iOS7DDWinTitle, .iOS7DDWinHeader, .iOS7DDWinTBar, .iOS7DDWinBody, .iOS7DDWinBBar, .iOS7DDWinFooter {
padding: 6px;
}
.iOS7DDWinButtons {
text-align: center;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #d9d9d9;
}
.iOS7DDWinResizer {
color: #bfbfbf;
}
.iOS7DDWinButtons .iOS7Button {
border-style: none;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #d9d9d9;
padding: 10px;
margin: 0px;
border-radius: 0px;
}
.iOS7DDWinButtons .iOS7Button:first-child {
border-left-style: solid;
border-left-width: 1px;
border-left-color: #d9d9d9;
}
.iOS7DDWinButtons .iOS7ButtonPressed {
color: rgba(0, 122, 255, 0.5);
}
.iOS7DDWinPointerDown {
border-top-style: solid;
border-top-width: 10px;
border-top-color: #d9d9d9;
border-left-style: solid;
border-left-width: 10px;
border-left-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: transparent;
margin-left: -10px;
left: 50%;
bottom: -10px;
width: 0;
height: 0;
}
.iOS7DDWinPointerDown:after {
border-top-style: solid;
border-top-width: 10px;
border-top-color: white;
border-left-style: solid;
border-left-width: 10px;
border-left-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: transparent;
margin-left: -10px;
display: block;
position: absolute;
left: 50%;
bottom: 1px;
width: 0;
height: 0;
content: "";
}
.iOS7DDWinPointerUp {
border-left-style: solid;
border-left-width: 10px;
border-left-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: transparent;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: #d9d9d9;
margin-left: -10px;
top: -10px;
left: 50%;
width: 0;
height: 0;
}
.iOS7DDWinPointerUp:after {
border-left-style: solid;
border-left-width: 10px;
border-left-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: transparent;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: white;
margin-left: -10px;
display: block;
position: absolute;
top: 1px;
left: 50%;
width: 0;
height: 0;
content: "";
}
.iOS7DDWinPointerLeft {
border-top-style: solid;
border-top-width: 10px;
border-top-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: #d9d9d9;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: transparent;
margin-top: -10px;
top: 50%;
left: -10px;
width: 0;
height: 0;
}
.iOS7DDWinPointerLeft:after {
border-top-style: solid;
border-top-width: 10px;
border-top-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: white;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: transparent;
margin-top: -10px;
display: block;
position: absolute;
top: 50%;
left: 1px;
width: 0;
height: 0;
content: "";
}
.iOS7DDWinPointerRight {
border-top-style: solid;
border-top-width: 10px;
border-top-color: transparent;
border-left-style: solid;
border-left-width: 10px;
border-left-color: #d9d9d9;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: transparent;
margin-top: -10px;
top: 50%;
right: -10px;
width: 0;
height: 0;
}
.iOS7DDWinPointerRight:after {
border-top-style: solid;
border-top-width: 10px;
border-top-color: transparent;
border-left-style: solid;
border-left-width: 10px;
border-left-color: white;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: transparent;
margin-top: -10px;
display: block;
position: absolute;
top: 50%;
right: 1px;
width: 0;
height: 0;
content: "";
}
/* Menu */
.iOS7Menu {
background-color: white;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
border-style: solid;
border-width: 1px;
border-color: #d9d9d9;
border-radius: 6px;
}
.iOS7MenuInner {
overflow: hidden;
border-radius: 6px;
}
.iOS7MenuItem {
white-space: nowrap;
color: #007aff;
font-size: 16px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #d9d9d9;
padding: 0px;
cursor: default;
}
.iOS7MenuItem > span {
padding: 14px;
}
.iOS7MenuItemSelected {
color: white;
background-color: #007aff;
background-image: none;
}
.iOS7MenuItemDisabled {
color: rgba(0, 0, 0, 0.25);
}
.iOS7MenuItemCascade {
padding-right: 30px;
position: relative;
}
.iOS7MenuItemCascade:after {
font-family: A5_iOS7Icons;
font-size: 24px;
margin-top: -14px;
display: block;
position: absolute;
top: 50%;
right: 0px;
content: "b";
}
.iOS7MenuTitle {
color: #666666;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 12px;
font-weight: bold;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 8px 14px;
}
.iOS7MenuSeparator {
height: 2px;
}
.iOS7MenuPointerDown {
border-top-style: solid;
border-top-width: 10px;
border-top-color: #d9d9d9;
border-left-style: solid;
border-left-width: 10px;
border-left-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: transparent;
margin-left: -10px;
left: 50%;
bottom: -10px;
width: 0;
height: 0;
}
.iOS7MenuPointerDown:after {
border-top-style: solid;
border-top-width: 10px;
border-top-color: white;
border-left-style: solid;
border-left-width: 10px;
border-left-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: transparent;
margin-left: -10px;
display: block;
position: absolute;
left: 50%;
bottom: 1px;
width: 0;
height: 0;
content: "";
}
.iOS7MenuPointerUp {
border-left-style: solid;
border-left-width: 10px;
border-left-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: transparent;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: #d9d9d9;
margin-left: -10px;
top: -10px;
left: 50%;
width: 0;
height: 0;
}
.iOS7MenuPointerUp:after {
border-left-style: solid;
border-left-width: 10px;
border-left-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: transparent;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: white;
margin-left: -10px;
display: block;
position: absolute;
top: 1px;
left: 50%;
width: 0;
height: 0;
content: "";
}
.iOS7MenuPointerLeft {
border-top-style: solid;
border-top-width: 10px;
border-top-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: #d9d9d9;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: transparent;
margin-top: -10px;
top: 50%;
left: -10px;
width: 0;
height: 0;
}
.iOS7MenuPointerLeft:after {
border-top-style: solid;
border-top-width: 10px;
border-top-color: transparent;
border-right-style: solid;
border-right-width: 10px;
border-right-color: white;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: transparent;
margin-top: -10px;
display: block;
position: absolute;
top: 50%;
left: 1px;
width: 0;
height: 0;
content: "";
}
.iOS7MenuPointerRight {
border-top-style: solid;
border-top-width: 10px;
border-top-color: transparent;
border-left-style: solid;
border-left-width: 10px;
border-left-color: #d9d9d9;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: transparent;
margin-top: -10px;
top: 50%;
right: -10px;
width: 0;
height: 0;
}
.iOS7MenuPointerRight:after {
border-top-style: solid;
border-top-width: 10px;
border-top-color: transparent;
border-left-style: solid;
border-left-width: 10px;
border-left-color: white;
border-bottom-style: solid;
border-bottom-width: 10px;
border-bottom-color: transparent;
margin-top: -10px;
display: block;
position: absolute;
top: 50%;
right: 1px;
width: 0;
height: 0;
content: "";
}
/* Panels */
.iOS7PanelCard {
color: black;
background-color: white;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #999999;
}
.iOS7PanelHeader {
background-color: whitesmoke;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 24px;
font-weight: bold;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #999999;
padding: 8px;
}
.iOS7PanelFooter {
background-color: whitesmoke;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 24px;
font-weight: bold;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #999999;
padding: 8px;
}
.iOS7PanelHeader .iOS7Heading, .iOS7PanelFooter .iOS7Heading {
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 24px;
font-weight: bold;
padding: 2px;
}
.iOS7PanelHeader .iOS7Text, .iOS7PanelFooter .iOS7Text {
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 16px;
padding: 6px;
}
.iOS7PanelNavInd {
font-size: 0px;
padding: 2px;
}
.iOS7PanelNavIndButton {
background-color: #999999;
background-image: none;
margin: 2px;
display: inline-block;
width: 10px;
height: 10px;
border-radius: 5px;
}
.iOS7PanelNavIndButtonSelected {
background-color: #007aff;
background-image: none;
}
.iOS7PanelHeader .iOS7Button, .iOS7PanelHeader .iOS7ButtonConfirm, .iOS7PanelHeader .iOS7ButtonDeny, .iOS7PanelHeader .iOS7ButtonLeft, .iOS7PanelHeader .iOS7ButtonRight, .iOS7PanelFooter .iOS7Button, .iOS7PanelFooter .iOS7ButtonConfirm, .iOS7PanelFooter .iOS7ButtonDeny, .iOS7PanelFooter .iOS7ButtonLeft, .iOS7PanelFooter .iOS7ButtonRight {
background-color: transparent;
background-image: none;
font-size: 18px;
border-style: none;
margin: 0px;
}
.iOS7PanelHeader .iOS7ButtonGroupHF, .iOS7PanelFooter .iOS7ButtonGroupHF {
border-style: solid;
border-width: 1px;
border-color: #007aff;
padding: 4px 8px;
margin: 0px;
border-radius: 6px 0px 0px 6px;
}
.iOS7PanelHeader .iOS7ButtonGroupHM, .iOS7PanelFooter .iOS7ButtonGroupHM {
border-style: solid;
border-width: 1px;
border-color: #007aff;
border-left-style: none;
padding: 4px 8px;
margin: 0px;
border-radius: 0px;
}
.iOS7PanelHeader .iOS7ButtonGroupHL, .iOS7PanelFooter .iOS7ButtonGroupHL {
border-style: solid;
border-width: 1px;
border-color: #007aff;
border-left-style: none;
padding: 4px 8px;
margin: 0px;
border-radius: 0px 6px 6px 0px;
}
.iOS7PanelHeader .iOS7ButtonPressed.iOS7ButtonGroupHF, .iOS7PanelFooter .iOS7ButtonPressed.iOS7ButtonGroupHF, .iOS7PanelHeader .iOS7ButtonPressed.iOS7ButtonGroupHM, .iOS7PanelFooter .iOS7ButtonPressed.iOS7ButtonGroupHM, .iOS7PanelHeader .iOS7ButtonPressed.iOS7ButtonGroupHL, .iOS7PanelFooter .iOS7ButtonPressed.iOS7ButtonGroupHL {
color: white;
background-color: #007aff;
background-image: none;
}
.iOS7PanelHeader .iOS7ButtonDisabled.iOS7ButtonGroupHF, .iOS7PanelFooter .iOS7ButtonDisabled.iOS7ButtonGroupHF, .iOS7PanelHeader .iOS7ButtonDisabled.iOS7ButtonGroupHM, .iOS7PanelFooter .iOS7ButtonDisabled.iOS7ButtonGroupHM, .iOS7PanelHeader .iOS7ButtonDisabled.iOS7ButtonGroupHL, .iOS7PanelFooter .iOS7ButtonDisabled.iOS7ButtonGroupHL {
border-color: rgba(0, 0, 0, 0.25);
}
.iOS7PanelCard > .iOS7PanelBody {
position: relative;
}
.iOS7PanelCard > .iOS7PanelBody:after {
background-color: rgba(0, 0, 0, 0.05);
background-image: none;
display: block;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 1px;
z-index: 4;
content: "";
}
.iOS7PanelCard > .iOS7PanelBody:before {
background-color: rgba(0, 0, 0, 0.025);
background-image: none;
display: block;
position: absolute;
top: 1px;
left: 0px;
width: 100%;
height: 2px;
z-index: 4;
content: "";
}
.iOS7AppBar {
text-align: center;
padding: 0px;
}
.iOS7AppBar .iOS7Button {
color: rgba(0, 0, 0, 0.5);
border-style: none;
padding: 14px;
border-radius: 0px;
}
.iOS7AppBar .iOS7ButtonPressed {
color: #007aff;
}
/* Tabs */
/* top and bottom */
.iOS7TabTBand, .iOS7TabBBand {
text-align: center;
font-size: 0px;
}
.iOS7TabTButton, .iOS7TabTButtonSelected, .iOS7TabTButtonDisabled, .iOS7TabBButton, .iOS7TabBButtonSelected, .iOS7TabBButtonDisabled {
text-decoration: none;
color: #007aff;
background-color: transparent;
background-image: none;
font-size: 16px;
border-style: solid;
border-width: 1px;
border-color: #007aff;
border-left-style: none;
padding: 5px 9px;
display: inline-block;
border-radius: 0px;
outline: none;
}
.iOS7TabTButton:first-child, .iOS7TabTButtonSelected:first-child, .iOS7TabTButtonDisabled:first-child, .iOS7TabBButton:first-child, .iOS7TabBButtonSelected:first-child, .iOS7TabBButtonDisabled:first-child {
border-style: solid;
border-width: 1px;
border-color: #007aff;
border-radius: 6px 0px 0px 6px;
}
.iOS7TabTButton:last-of-type, .iOS7TabTButtonSelected:last-of-type, .iOS7TabTButtonDisabled:last-of-type, .iOS7TabBButton:last-of-type, .iOS7TabBButtonSelected:last-of-type, .iOS7TabBButtonDisabled:last-of-type {
border-radius: 0px 6px 6px 0px;
}
.iOS7TabTButtonSelected, .iOS7TabBButtonSelected {
color: white;
background-color: #007aff;
background-image: none;
}
.iOS7TabTButtonDisabled, .iOS7TabBButtonDisabled {
color: rgba(0, 0, 0, 0.25);
}
.iOS7TabTPane {
margin-top: 6px;
}
.iOS7TabBPane {
margin-bottom: 6px;
}
/* left and right */
.iOS7TabLBand, .iOS7TabRBand {
font-size: 0px;
}
.iOS7TabLButton, .iOS7TabLButtonSelected, .iOS7TabLButtonDisabled, .iOS7TabRButton, .iOS7TabRButtonSelected, .iOS7TabRButtonDisabled {
text-decoration: none;
color: #007aff;
background-color: transparent;
background-image: none;
font-size: 16px;
border-style: solid;
border-width: 1px;
border-color: #007aff;
border-top-style: none;
padding: 5px 9px;
display: block;
border-radius: 0px;
outline: none;
}
.iOS7TabLButton:first-child, .iOS7TabLButtonSelected:first-child, .iOS7TabLButtonDisabled:first-child, .iOS7TabRButton:first-child, .iOS7TabRButtonSelected:first-child, .iOS7TabRButtonDisabled:first-child {
border-style: solid;
border-width: 1px;
border-color: #007aff;
border-radius: 6px 6px 0px 0px;
}
.iOS7TabLButton:last-of-type, .iOS7TabLButtonSelected:last-of-type, .iOS7TabLButtonDisabled:last-of-type, .iOS7TabRButton:last-of-type, .iOS7TabRButtonSelected:last-of-type, .iOS7TabRButtonDisabled:last-of-type {
border-radius: 0px 0px 6px 6px;
}
.iOS7TabLButtonSelected, .iOS7TabRButtonSelected {
color: white;
background-color: #007aff;
background-image: none;
}
.iOS7TabLButtonDisabled, .iOS7TabRButtonDisabled {
color: rgba(0, 0, 0, 0.25);
}
.iOS7TabLPane {
margin-left: 6px;
}
.iOS7TabRPane {
margin-right: 6px;
}
/* Accordion */
.iOS7Accordion {
border-style: solid;
border-width: 1px;
border-color: #cccccc;
border-bottom-style: none;
}
.iOS7AccordionButton, .iOS7AccordionButtonSelected, .iOS7AccordionButtonDisabled {
text-decoration: none;
color: #333333;
background-color: #ededed;
background-image: none;
font-family: Helvetica Neue, HelveticaNeue, Helvetica-Neue, Helvetica, BBAlpha Sans, sans-serif;
font-size: 12px;
font-weight: bold;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 14px;
display: block;
outline: none;
}
.iOS7AccordionButton:after {
font-family: A5_iOS7Icons;
font-size: 16px;
margin-top: -2px;
margin-right: 6px;
display: block;
float: left;
content: 'b';
}
.iOS7AccordionButtonSelected:after {
font-family: A5_iOS7Icons;
font-size: 16px;
margin-top: -2px;
margin-right: 6px;
display: block;
float: left;
content: 'c';
}
.iOS7AccordionButtonDisabled {
color: rgba(0, 0, 0, 0.25);
}
.iOS7AccordionPane {
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #cccccc;
padding: 6px;
}
/* Tabband */
.iOS7Tabband {
font-size: 16px;
}
.iOS7TabbandButton, .iOS7TabbandButtonSelected, .iOS7TabbandButtonDisabled {
text-decoration: none;
white-space: nowrap;
color: grey;
background-color: transparent;
background-image: none;
padding: 14px;
display: block;
position: relative;
outline: none;
}
.iOS7TabbandButtonSelected {
color: #007aff;
}
.iOS7TabbandButtonDisabled {
color: rgba(0, 0, 0, 0.25);
}
.iOS7TabbandClose {
color: #fd472a;
}
.iOS7TabbandIcon .iOS7TabbandButton, .iOS7TabbandIcon .iOS7TabbandButtonSelected, .iOS7TabbandIcon .iOS7TabbandButtonDisabled {
font-size: 10px;
padding: 6px;
}
/* Scroll Indicator */
.iOS7ScrollIndH, .iOS7ScrollIndV {
padding: 0px;
width: 5px;
height: 5px;
}
.iOS7ScrollIndHBar, .iOS7ScrollIndVBar {
background-color: black;
background-image: none;
border-radius: 6px;
opacity: 0.5;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}
/* Icons */
.iOS7Icon, .iOS7IconSm, .iOS7IconBtn {
font-family: A5_iOS7Icons;
font-size: 22px;
font-style: normal;
display: inline-block;
cursor: default;
position: relative;
width: 24px;
height: 24px;
}
.iOS7IconSm {
font-family: A5_iOS7Icons;
font-size: 16px;
width: 18px;
height: 18px;
}
.iOS7IconBtn {
padding: 10px;
}
.iOS7IconDisabled {
opacity: 0.5;
}
.iOS7IconLeft:after {
display: block;
position: absolute;
content: "a";
}
.iOS7IconRight:after {
display: block;
position: absolute;
content: "b";
}
.iOS7IconUp:after {
display: block;
position: absolute;
content: "d";
}
.iOS7IconDown:after {
display: block;
position: absolute;
content: "c";
}
.iOS7IconClose:after {
display: block;
position: absolute;
content: "e";
}
.iOS7IconResizeThumb:after {
display: block;
position: absolute;
content: "f";
}
.iOS7IconRadio:after {
display: block;
position: absolute;
content: "g";
}
.iOS7IconCheck:after {
display: block;
position: absolute;
content: "h";
}
.iOS7IconAdd:after {
display: block;
position: absolute;
content: "i";
}
.iOS7IconRemove:after {
display: block;
position: absolute;
content: "j";
}
.iOS7IconUndo:after {
display: block;
position: absolute;
content: "k";
}
.iOS7IconRedo:after {
display: block;
position: absolute;
content: "l";
}
.iOS7IconEdit:after {
display: block;
position: absolute;
content: "m";
}
.iOS7IconCancel:after {
display: block;
position: absolute;
content: "n";
}
.iOS7IconDelete:after {
display: block;
position: absolute;
content: "o";
}
.iOS7IconCancelEdit:after {
display: block;
position: absolute;
content: "p";
}
.iOS7IconNew:after {
display: block;
position: absolute;
content: "q";
}
.iOS7IconCancelNew:after {
display: block;
position: absolute;
content: "r";
}
.iOS7IconSave:after {
display: block;
position: absolute;
content: "s";
}
.iOS7IconLoad:after {
display: block;
position: absolute;
content: "t";
}
.iOS7IconSaveAndEnter:after {
display: block;
position: absolute;
content: "u";
}
.iOS7IconRefresh:after {
display: block;
position: absolute;
content: "v";
}
.iOS7IconSearch:after {
display: block;
position: absolute;
content: "w";
}
.iOS7IconFilter:after {
display: block;
position: absolute;
content: "x";
}
.iOS7IconFirst:after {
display: block;
position: absolute;
content: "y";
}
.iOS7IconLast:after {
display: block;
position: absolute;
content: "z";
}
.iOS7IconInfo:after {
display: block;
position: absolute;
content: "A";
}
.iOS7IconHelp:after {
display: block;
position: absolute;
content: "B";
}
.iOS7IconError:after {
display: block;
position: absolute;
content: "C";
}
.iOS7IconWarning:after {
display: block;
position: absolute;
content: "D";
}
.iOS7IconMenu:after {
display: block;
position: absolute;
content: "E";
}
/* container padding */
.iOS7PanelHeader .A5Container, .iOS7PanelFooter .A5Container, .iOS7PanelTopHeader .A5Container, .iOS7PanelTopFooter .A5Container, .iOS7PanelHeader .A5CWLayout, .iOS7PanelFooter .A5CWLayout, .iOS7PanelTopHeader .A5CWLayout, .iOS7PanelTopFooter .A5CWLayout {
padding: 0px;
}
